<div class="right-navbar">
  <a href="#/" class="btn btn-default no-border-button">All Movies</a>
  <a href="#/my_library" class="btn btn-default no-border-button" id="my-library">My Library</a>
  <div class="dropdown sign-up-dropdown">
    <button class="btn btn-default no-border-button dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Sign up
      <span class="caret"></span>
    </button>
    <div class="dropdown-menu pull-right sign-up-container" aria-labelledby="dropdownMenu1">
      <div class="alert alert-danger" role="alert" hidden></div>
      <%= form_for new_user do |f| %>
          <div class="form-group username">
            <%= f.text_field :username, class: "form-control input-sm", placeholder: "username" %>
          </div>
          <div class="form-group email">
            <%= f.text_field :email, class: "form-control input-sm", placeholder: "email" %>
          </div>
          <div class="form-group password">
            <%= f.password_field :password, class: "form-control input-sm", placeholder: "password" %>
          </div>
          <div class="form-group password_confirmation">
            <%= f.password_field :password_confirmation, class: "form-control input-sm", placeholder: "confirm password" %>
          </div>
          <%= f.submit "Sign Me Up!", class: "btn btn-primary btn-sm" %>
      <% end %>
    </div>
  </div>
</div>
